%html
  %head
    %link{type: "text/css", rel: "stylesheet", href: "css/mystyles.css"}
    %script{type: "text/javascript", src: "/js/dracula/raphael-min.js"}
    %script{type: "text/javascript", src: "/js/dracula/dracula_graffle.js"}
    %script{type: "text/javascript", src: "/js/dracula/dracula_graph.js"}
    %script{type: "text/javascript", src: "/js/jquery-1.9.1.min.js" }
    %script{type: "text/javascript", src:"/js/graph.js"}
    %script{type: "text/javascript", src:"/js/process.js"}
    %script{type: "text/javascript", src:"/js/resource.js"}
    %script{type: "text/javascript", src:"/js/file_parser.js"}
    %script{type: "text/javascript", src:"/js/graph_wrapper.js"}
    %script{type: "text/javascript", src:"/js/file_reader.js"}
    %script{type: "text/javascript", src:"/js/presenter.js"}
  %body
    %h2 Some Heading
    %button#step-button Step
    %p#count-text 
    %p#last-action-text
    %p#last-result-text
    %div.sigma-expand#canv
