%html
  %link{type: "text/css", rel: "stylesheet", href: "css/mystyles.css"}
  %script{type: "text/javascript", src: "/js/sigma.min.js" }
  %script{type: "text/javascript", src: "/js/testing.js" }
  %head
    %body{onload: "blah()"}
      %div.sigma-expand#canv

